# Ignore all files
*

# Whitelist specific directories
!.gitignore
!get_article/
!get_article/*
!push_to_fifo/
!push_to_fifo/*
!put_final_translation/
!put_final_translation/*
!put_first_translation/
!put_first_translation/*
!Translator_Dashboard/
!Translator_Dashboard/**/**/*
!translation_services/
!translation_services/**/*
!extra_code/
!extra_code/**/*
!get_first/
!get_first/*
!get_final/
!get_final/*

# Ignore zip files and env directories everywhere
*.zip
**/env/
**/dependencies/
**.pem
**/**/certs/

