<!DOCTYPE html>
<html lang="en">

    {% extends "base.html" %}

    {% block content %}
            <div class="row mt-4">
                <div class="col">
                    <h1>Final Translations</h1>
                    <h2 id="title"></h2>
                    <p id="text"></p>
                    <button onclick="fetchPrevTranslation()" class="btn btn-outline-primary mr-2">
                        <i class="fas fa-arrow-left"></i> Previous
                    </button>
                    <button onclick="fetchNextTranslation()" class="btn btn-outline-primary">
                        Next <i class="fas fa-arrow-right"></i>
                    </button>
                </div>
            </div>

            <script src="../static/js/config.js"></script>
            <script src="../static/js/fetchtranslations.js"></script>
    {% endblock %}

