    {% extends "base.html" %}

    {% block content %}
				<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
					<h1 class="h2">Translation Dashboard</h1>
				</div>

                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <div class="alert alert-{{ category }} fadeout">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}

				<div class="row justify-content-end">
					<div class="col-auto">
						<button id="prev" class="custom-button">Previous Translation</button>
					</div>
					<div class="col-auto">
						<button id="next" class="custom-button">Next Translation</button>
					</div>
				</div>
            <form action="/submit_translation" method="post">
                <input type="hidden" id="currentIndexInput" name="currentIndex" value="">
				<div class="row mt-4">
					<div class="col">
						<h2 class="section-title">Original Article</h2>
                            <textarea autosize spellcheck="false" class="form-control custom-textarea" id="originalArticle"></textarea>
					</div>
				</div>
				<div class="row mt-4">
                        <input type="hidden" id="translateTo" value="">
                        <select id="dropdown">
                            <option>Choose Language</option>
                            <option value="en" id="English">English</option>
                            <option value="es" id="Spanish">Spanish</option>
                            <option value="ja" id="Japanese">Japanese</option>
                            <option value="pt" id="Portuguese">Portuguese</option>
                        </select>
				</div>
				<div class="row mt-4">
					<div class="col">
						<h2 class="section-title">Base Translation</h2>
                            <textarea autosize spellcheck="false" class="form-control custom-textarea" id="baseTranslation" name="finalTranslation" style="resize: both;"></textarea>
					</div>
				</div>
                <div class="row mt-4">
                    <div class="col">
                        <!-- Button for downloading the document -->
                        <button class="btn" type="button" onclick="downloadWordDoc()" style="border-radius: 30px; background-color: #FFFFFF; border: 5px solid #E2E8F0; color: #1B2559;">
                            <i class="fas fa-download mr-2"></i> <!-- Font Awesome download icon -->
                            Download Word Doc
                        </button>
                    </div>
                </div>
				<div class="row mt-4">
					<div class="col-md-4">
						<h2 class="section-title">AWS</h2>
                        <div class="round-button">
                            <div class="round-button-circle">
                                <a href="javascript:void(0)" id="awsButton" class="round-button"></a>
                            </div>
                        </div>
                            <textarea autosize spellcheck="false" class="form-control custom-textarea" id="awsTranslation"></textarea>
                        <div class='rating' id='AWS_rating'>
                            <span onclick="setRating('AWS', 1)"></span>
                            <span onclick="setRating('AWS', 2)"></span>
                            <span onclick="setRating('AWS', 3)"></span>
                            <span onclick="setRating('AWS', 4)"></span>
                            <span onclick="setRating('AWS', 5)"></span>
                        </div>
                        <input type="hidden" id="AWSRatingInput" name="AWSRating" value="">
					</div>
					<div class="col-md-4"> <!-- Ocultar en pantallas pequeñas -->
						<h2 class="section-title">Google Cloud</h2>
                        <div class="round-button">
                            <div class="round-button-circle">
                               <a href="javascript:void(0)" id="googleButton" class="round-button"></a> 
                            </div>
                        </div>
                            <textarea autosize spellcheck="false" class="form-control custom-textarea" id="googleTranslation"></textarea>
                        <div class='rating' id='GCP_rating'>
                            <span onclick="setRating('GCP', 1)"></span>
                            <span onclick="setRating('GCP', 2)"></span>
                            <span onclick="setRating('GCP', 3)"></span>
                            <span onclick="setRating('GCP', 4)"></span>
                            <span onclick="setRating('GCP', 5)"></span>
                        </div>
                        <input type="hidden" id="GCPRatingInput" name="GCPRating" value="">
					</div>
					<div class="col-md-4"> <!-- Ocultar en pantallas pequeñas -->
						<h2 class="section-title">Microsoft Azure</h2>
                        <div class="round-button">
                            <div class="round-button-circle">
                                <a href="javascript:void(0)" id="azureButton" class="round-button"></a> 
                            </div>
                        </div>
                            <textarea autosize spellcheck="false" class="form-control custom-textarea" id="azureTranslation"></textarea>
                        <div class='rating' id='Azure_rating'>
                            <span onclick="setRating('Azure', 1)"></span>
                            <span onclick="setRating('Azure', 2)"></span>
                            <span onclick="setRating('Azure', 3)"></span>
                            <span onclick="setRating('Azure', 4)"></span>
                            <span onclick="setRating('Azure', 5)"></span>
                        </div>
                        <input type="hidden" id="AzureRatingInput" name="AzureRating" value="">
					</div>
				</div>
				<div class="row mt-4">
					<div class="col">
						<h2 class="section-title">Comments</h2>
                            <textarea autosize spellcheck="false" class="form-control custom-textarea h-55" id="comments" name="CommentsContent" style="resize: both;"></textarea>
					</div>
				</div>
				<div class="row mt-4">
					<div class="col text-end">
						<button type="submit" class="custom-button">Save new version</button>
					</div>
				</div>
            </form>
                <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
                <script src="../static/js/config.js"></script>
                <script src="../static/js/fetcharticles.js"></script>
                <script src="../static/js/download.js"></script>
                <script>
                document.addEventListener("DOMContentLoaded", function() {
                    // Get all textarea elements
                    var textareas = document.querySelectorAll('textarea');

                    // Loop through each textarea and set its initial height
                    textareas.forEach(function(textarea) {
                        textarea.style.height = textarea.scrollHeight + 'px';
                        textarea.style.overflowY = 'auto';

                        // Add an input event listener to adjust height dynamically
                        textarea.addEventListener('input', function() {
                            this.style.height = 'auto';
                            this.style.height = this.scrollHeight + 'px';
                        });
                    });
                });
                </script>
                <script>
                document.addEventListener("DOMContentLoaded", function() {
                    // Get all textarea elements
                    var textareas = document.querySelectorAll('textarea');

                    // Loop through each textarea
                    textareas.forEach(function(textarea) {
                        // Save the original height for later
                        textarea.dataset.originalHeight = textarea.scrollHeight + 'px';

                        // Set the initial height and overflow
                        textarea.style.height = textarea.scrollHeight + 'px';
                        textarea.style.overflowY = 'auto';

                        // Adjust height dynamically as the user types
                        textarea.addEventListener('input', function() {
                            this.style.height = 'auto';
                            this.style.height = this.scrollHeight + 'px';
                        });

                        // Restore the original height when the textarea loses focus
                        textarea.addEventListener('focusout', function() {
                            this.style.height = this.dataset.originalHeight;
                        });
                    });
                });
                </script>
                <script>
                document.addEventListener("DOMContentLoaded", function() {
                    setTimeout(function() {
                        var elements = document.querySelectorAll('.fadeout');
                        for (var i = 0; i < elements.length; i++) {
                            fadeOut(elements[i]);
                        }
                    }, 5000);  // 5 seconds
                });

                function fadeOut(el) {
                    var opacity = 1;
                    var timer = setInterval(function() {
                        if (opacity <= 0.1) {
                            clearInterval(timer);
                            el.style.display = 'none';
                        }
                        el.style.opacity = opacity;
                        opacity -= 0.1;
                    }, 50);
                }

                </script>

            {% endblock %}
