    {% extends "base.html" %}

    {% block content %}
				<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
					<h1 class="h2">HT Translator</h1>
				</div>
				<div class="row justify-content-end">
					<div class="col-auto">
						<button class="custom-button">Next Article</button>
					</div>
				</div>
				<div class="row mt-4">
					<div class="col">
						<h2 class="section-title">Original Article</h2>
						<form action="#" method="post">
                            <textarea autosize spellcheck="false" class="form-control custom-textarea" id="originalArticle" name="articleContent"></textarea>
                        </form>
					</div>
				</div>
				<div class="row mt-4">
					<div class="col text-end">
						<button class="btn" style="border-radius: 30px; background-color: #FFFFFF; border: 1px solid #E2E8F0; color: #1B2559;padding:15px 25px;">
							<i class="fas fa-sync-alt mr-2"></i>
							Regenerate Translation
						</button>
					</div>
				</div>
				<div class="row mt-4">
					<div class="col">
						<h2 class="section-title">Base translation</h2>
						<form action="#" method="post">
                            <textarea autosize spellcheck="false" class="form-control custom-textarea" id="baseTranslation" name="articleContent" style="resize: both;"></textarea>
                        </form>
					</div>
				</div>
				<div class="row mt-4">
					<div class="col-md-4">
						<h2 class="section-title">AWS</h2>
                        <div class="round-button">
                            <div class="round-button-circle">
                                <a href="javascript:void(0)" onclick="copyToBaseTranslation('awsTranslation')" class="round-button"></a>
                            </div>
                        </div>
						<form action="#" method="post">
                            <textarea autosize spellcheck="false" class="form-control custom-textarea" id="awsTranslation" name="articleContent"></textarea>
                        </form>
                        <div id='rating'>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
					</div>
					<div class="col-md-4"> <!-- Ocultar en pantallas pequeñas -->
						<h2 class="section-title">Google Cloud</h2>
                        <div class="round-button">
                            <div class="round-button-circle">
                                <a href="javascript:void(0)" onclick="copyToBaseTranslation('googleTranslation')" class="round-button"></a>
                            </div>
                        </div>
						<form action="#" method="post">
                            <textarea autosize spellcheck="false" class="form-control custom-textarea" id="googleTranslation" name="articleContent"></textarea>
                        </form>
                        <div id='rating'>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
					</div>
					<div class="col-md-4"> <!-- Ocultar en pantallas pequeñas -->
						<h2 class="section-title">Microsoft Azure</h2>
                        <div class="round-button">
                            <div class="round-button-circle">
                                <a href="javascript:void(0)" onclick="copyToBaseTranslation('azureTranslation')" class="round-button"></a>
                            </div>
                        </div>
						<form action="#" method="post">
                            <textarea autosize spellcheck="false" class="form-control custom-textarea" id="azureTranslation" name="articleContent"></textarea>
                        </form>
                        <div id='rating'>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
					</div>
				</div>
				<div class="row mt-4">
					<div class="col text-end">
						<button class="custom-button">Save new version</button>
					</div>
				</div>
                <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
                <script src="../static/js/config.js"></script>
                <script src="../static/js/fetcharticles.js"></script>
                <script>
                    $(document).ready(function() {
                        $('textarea').each(function() {
                            this.setAttribute('style', 'height:' + (this.scrollHeight) + 'px;overflow-y:auto;');
                        }).on('input', function() {
                            this.style.height = 'auto';
                            this.style.height = (this.scrollHeight) + 'px';
                        });
                    });
                </script>
                <script>
                    function copyToBaseTranslation(id) {
                        var content = document.getElementById(id).value;
                        var baseTranslation = document.getElementById('baseTranslation');
                        baseTranslation.value = content;
                        }
                </script>
                <script>
                    document.querySelectorAll('#rating').forEach(function(element) {
                        element.addEventListener('click', function(e) {
                            let action = 'add';
                            for (const span of this.children) {
                                span.classList[action]('active');
                                if (span === e.target) action = 'remove';
                            }
                        });
                    });

                </script>
                {% endblock %}
