    {% extends "base.html" %}

    {% block content %}
				<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
					<h1 class="h2">HT Translator</h1>
				</div>

                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <div class="alert alert-{{ category }} fadeout">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}

				<div class="row justify-content-end">
					<div class="col-auto">
						<button class="custom-button">Previous Translation</button>
					</div>
					<div class="col-auto">
						<button class="custom-button">Next Translation</button>
					</div>
				</div>
            <form action="/submit_translation" method="post">
                <input type="hidden" id="currentIndexInput" name="currentIndex" value="">
				<div class="row mt-4">
					<div class="col">
						<h2 class="section-title">Original Article</h2>
                            <textarea autosize spellcheck="false" class="form-control custom-textarea" id="originalArticle"></textarea>
					</div>
				</div>
				<div class="row mt-4">
                        <input type="hidden" id="translateTo" value="">
                        <select id="dropdown">
                            <option value="es" id="Spanish">Spanish</option>
                            <option value="ja" id="Japanese">Japanese</option>
                            <option value="pt" id="Portuguese">Portuguese</option>
                        </select>
					<div class="col text-end">
						<button class="btn" id="regenerate" type="button" style="border-radius: 30px; background-color: #FFFFFF; border: 1px solid #E2E8F0; color: #1B2559;padding:15px 25px;">
							<i class="fas fa-sync-alt mr-2"></i>
							Regenerate Translation
						</button>
                        <div id="spinner" style="display: none;"></div>
					</div>
				</div>
				<div class="row mt-4">
					<div class="col">
						<h2 class="section-title">Base translation</h2>
                            <textarea autosize spellcheck="false" class="form-control custom-textarea" id="baseTranslation" name="finalTranslation" style="resize: both;"></textarea>
					</div>
				</div>
                <div class="row mt-4">
                    <div class="col">
                        <!-- Button for downloading the document -->
                        <button class="btn" type="button" onclick="downloadWordDoc()" style="border-radius: 30px; background-color: #FFFFFF; border: 1px solid #E2E8F0; color: #1B2559;">
                            <i class="fas fa-download mr-2"></i> <!-- Font Awesome download icon -->
                            Download Word Doc
                        </button>
                    </div>
                </div>
				<div class="row mt-4">
					<div class="col-md-4">
						<h2 class="section-title">AWS</h2>
                        <div class="round-button">
                            <div class="round-button-circle">
                                <a href="javascript:void(0)" onclick="copyToBaseTranslation('awsTranslation')" class="round-button"></a>
                            </div>
                        </div>
                            <textarea autosize spellcheck="false" class="form-control custom-textarea" id="awsTranslation"></textarea>
                        <div class='rating' id='AWS_rating'>
                            <span onclick="setRating('AWS', 1)"></span>
                            <span onclick="setRating('AWS', 2)"></span>
                            <span onclick="setRating('AWS', 3)"></span>
                            <span onclick="setRating('AWS', 4)"></span>
                            <span onclick="setRating('AWS', 5)"></span>
                        </div>
                        <input type="hidden" id="AWSRatingInput" name="AWSRating" value="">
					</div>
					<div class="col-md-4"> <!-- Ocultar en pantallas pequeñas -->
						<h2 class="section-title">Google Cloud</h2>
                        <div class="round-button">
                            <div class="round-button-circle">
                                <a href="javascript:void(0)" onclick="copyToBaseTranslation('googleTranslation')" class="round-button"></a>
                            </div>
                        </div>
                            <textarea autosize spellcheck="false" class="form-control custom-textarea" id="googleTranslation"></textarea>
                        <div class='rating' id='GCP_rating'>
                            <span onclick="setRating('GCP', 1)"></span>
                            <span onclick="setRating('GCP', 2)"></span>
                            <span onclick="setRating('GCP', 3)"></span>
                            <span onclick="setRating('GCP', 4)"></span>
                            <span onclick="setRating('GCP', 5)"></span>
                        </div>
                        <input type="hidden" id="GCPRatingInput" name="GCPRating" value="">
					</div>
					<div class="col-md-4"> <!-- Ocultar en pantallas pequeñas -->
						<h2 class="section-title">Microsoft Azure</h2>
                        <div class="round-button">
                            <div class="round-button-circle">
                                <a href="javascript:void(0)" onclick="copyToBaseTranslation('azureTranslation')" class="round-button"></a>
                            </div>
                        </div>
                            <textarea autosize spellcheck="false" class="form-control custom-textarea" id="azureTranslation"></textarea>
                        <div class='rating' id='Azure_rating'>
                            <span onclick="setRating('Azure', 1)"></span>
                            <span onclick="setRating('Azure', 2)"></span>
                            <span onclick="setRating('Azure', 3)"></span>
                            <span onclick="setRating('Azure', 4)"></span>
                            <span onclick="setRating('Azure', 5)"></span>
                        </div>
                        <input type="hidden" id="AzureRatingInput" name="AzureRating" value="">
					</div>
				</div>
				<div class="row mt-4">
					<div class="col">
						<h2 class="section-title">Comments</h2>
                            <textarea autosize spellcheck="false" class="form-control custom-textarea h-55" id="baseTranslation" name="CommentsContent" style="resize: both;"></textarea>
					</div>
				</div>
				<div class="row mt-4">
					<div class="col text-end">
						<button type="submit" class="custom-button">Save new version</button>
					</div>
				</div>
            </form>
                <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
                <script src="../static/js/config.js"></script>
                <script src="../static/js/fetcharticles.js"></script>
                <script>
                    $(document).ready(function() {
                        $('textarea').each(function() {
                            this.setAttribute('style', 'height:' + (this.scrollHeight) + 'px;overflow-y:auto;');
                        }).on('input', function() {
                            this.style.height = 'auto';
                            this.style.height = (this.scrollHeight) + 'px';
                        });
                    });
                </script>
                <script>
                    function copyToBaseTranslation(id) {
                        var content = document.getElementById(id).value;
                        var baseTranslation = document.getElementById('baseTranslation');
                        baseTranslation.value = content;
                        }
                </script>
                <script>
                    $(document).ready(function() {
                        $('textarea').each(function() {
                            // Save the original height for later
                            $(this).data('original-height', this.scrollHeight);

                            this.setAttribute('style', 'height:' + (this.scrollHeight) + 'px;overflow-y:auto;');
                        }).on('input', function() {
                            this.style.height = 'auto';
                            this.style.height = (this.scrollHeight) + 'px';
                        }).on('focusout', function() {
                            // Restore the original height when the textarea loses focus
                            this.style.height = $(this).data('original-height') + 'px';
                        });
                    });
                </script>
                <script>
                    function setRating(platform, ratingValue) {
                        let ratingElementId;
                        let inputElementId;

                        if (platform === 'GCP') {
                            ratingElementId = 'GCP_rating';
                            inputElementId = 'GCPRatingInput';
                        } else if (platform === 'Azure') {
                            ratingElementId = 'Azure_rating';  // Ensure this ID matches the one in your HTML
                            inputElementId = 'AzureRatingInput';
                        } else if (platform === 'AWS') {
                            ratingElementId = 'AWS_rating';  // If you have an element for AWS, set its ID here
                            inputElementId = 'AWSRatingInput';
                        }

                        // Set the value to the appropriate input
                        document.getElementById(inputElementId).value = ratingValue;

                        // Update the visual representation of stars
                        const stars = document.querySelectorAll(`#${ratingElementId} span`);
                        stars.forEach((star, index) => {
                            if (index < ratingValue) {
                                star.classList.add('active');
                            } else {
                                star.classList.remove('active');
                            }
                        });
                    }
                </script>
                <script>
                    $(document).ready(function() {
                        setTimeout(function() {
                            $('.fadeout').fadeOut('slow');
                        }, 5000);  // 5 seconds 
                    });
                </script>
                <script>
                    const downloadWordDoc = () => {
                        const contentBlock = document.getElementById("baseTranslation");
                        const content = contentBlock.value; // Use .value to get the text content

                        // Create a Blob with content and specify the MIME type for a Word document
                        const file = new Blob([content], { type: 'application/msword' });

                        // Create an anchor element to trigger the download
                        const link = document.createElement("a");
                        link.href = URL.createObjectURL(file);
                        link.download = "document.doc"; // Specify the desired file name
                        link.click();

                        // Clean up resources
                        URL.revokeObjectURL(link.href);
                    };
                </script>

            {% endblock %}
