<!DOCTYPE html>
<html lang="en">
{% extends "base.html" %}

{% block content %}

    <title>DataTables Integration</title>

    <!-- DataTables CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">

    <!-- jQuery (necessary for DataTables) -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- DataTables JS -->
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>

    <script src="../static/js/status.js"></script>

<table id="data-table" class="display" style="width:100%">
    <thead>
        <tr>
            <th>Status</th>
            <th>Title</th>
            <th>Lang To</th>
            <th>Lang From</th>
            <th>Remove</th>
        </tr>
    </thead>

</table>
<h1>Database</h1>
<table id="database-table" class="display" style="width:100%">
    <thead>
        <tr>
            <th>Text</th>
            <th>Queue</th>
        </tr>
    </thead>

</table>
{% endblock %}

