<!DOCTYPE html>
<html lang="en">
{% extends "base.html" %}

{% block content %}


    <!-- DataTables CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">

    <!-- jQuery (necessary for DataTables) -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- DataTables JS -->
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>

    <script src="../static/js/status.js"></script>

<table id="data-table" class="display" style="width:100%">
    <thead>
        <tr>
            <th>Status</th>
            <th>Title</th>
            <th>Lang To</th>
            <th>Lang From</th>
            <th>Remove</th>
        </tr>
    </thead>

</table>
<h1 class="mt-4">Database</h1>
    <input type="text" id="articleSearch" placeholder="Search by title...">
    <button class="custom-button" id="searchButton">Search</button>
<div>
   <!-- Column for the arrow buttons -->
    <div class="col-md-6 justify-content-between">
        <button class="custom-button mb-3 mt-4 mr-5" id="prev-button">
            <span class="fas fa-arrow-left"></span>
        </button>
        <button class="custom-button mb-3 mt-4 mr-5" id="next-button">
            <span class="fas fa-arrow-right"></span>
        </button>
    </div> 
</div>
<table id="database-table" class="display" style="width:100%">
    <input type="hidden" id="selectedFromLang-1" name="selectedFromLang-1" value="">
    <input type="hidden" id="selectedToLang-1" name="selectedToLang-1" value="">
    <input type="hidden" id="selectedFromLang-2" name="selectedFromLang-2" value="">
    <input type="hidden" id="selectedToLang-2" name="selectedToLang-2" value="">
    <thead>
        <tr>
            <th>Text</th>
            <th>Title</th>
            <th>Queue</th>
            <th></th>
        </tr>
    </thead>

</table>
{% endblock %}

