/* HT STYLES */
.flash-message {
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: red;
    color: white;
    padding: 10px;
    border-radius: 5px;
    z-index: 9999;
}

#data-table_wrapper {
    margin-top: 50px;  
}

body, html {
	font-family: 'Open Sans', sans-serif; /* Usando Open Sans como tipografía */
	height: 100% !important;
	margin:0;
}
.split-screen {
	display: flex;
	height: 100% !important;
}

.left-side {
	background-color: #FFFFFF;
	flex: 1;
	padding: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.right-side {
	background-color: #000000;
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;
}
.login-form {
	max-width: 400px;
	width: 100%;
}
.login-title {
	font-size: 28px;
	font-weight: bold;
}
.login-subtitle {
	margin-top: 10px;
	margin-bottom: 30px; /* Margen abajo de 30px */
	font-size: 18px;
	color: #6C757D;
}
.form-group {
	margin-top: 20px;
}
.remember-me {
	margin-top: 10px;
}
.sign-in-button {
	margin-top: auto; /* Margen arriba de 30px */
}
/* Estilo para los campos de email y password */
.form-control {
	padding: 15px;
	margin-bottom: 30px; /* Margen abajo de 30px */
	color: #A3AED0; /* Color de texto */
}
/* Estilo para el botón "Sign In" */
.btn-primary {
	background-color: #EB2028; /* Color rojo */
	width: 100%; /* Ancho completo */
	padding: 15px; /* Padding de 15px */
	border-radius: 30px; /* Borde redondeado */
	border: none;
}
@media (max-width: 767px) {
	.split-screen {
		flex-direction: column-reverse;
	}
	.left-side, .right-side {
		flex: 1;
	}
}

/* DASHBOARD STYLES */
/* Styling the dropdown */
select {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    appearance: none; /* Remove default styling */
    -webkit-appearance: none; /* Remove default styling for Safari */
    -moz-appearance: none; /* Remove default styling for Firefox */
    background-color: #f9f9f9;
}

/* Add a custom arrow for the dropdown */
select::-ms-expand {
    display: none;
}
select::after {
    content: '\25BC'; /* Down arrow symbol */
    position: absolute;
    top: 10px;
    right: 10px;
    pointer-events: none;
}

#spinner {
    width: 50px;
    height: 50px;
    border: 5px solid #eee;
    border-top: 5px solid #666;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.custom-button {
	border-radius: 30px;
	background-color: #4318FF;
	color: white;
	box-shadow: 0px 10px 30px 0px rgba(96, 60, 255, 0.65);
	padding: 15px 25px; /* Nuevos valores de padding */
	border:none;
}

.custom-button:hover {
    background-color:red;
}
.colored-text {
	color: #1B2559;
}
.sidebar {
	background-color: #ffffff !important; /* Color de fondo de la barra lateral */
	border-radius: 20px; /* Borde redondeado de la barra lateral */
	box-shadow: 0px 17px 40px 4px rgba(112, 144, 176, 0.11); /* Sombra */
    height: auto;
    min-height: 100vh;
    display: flex;           
    flex-direction: column;
}
.sidebar-logo {
	text-align: center;
	padding: 20px 0;
}
.sidebar-logo img {
	max-width: 150px;
}
.sidebar-separator {
	border-top: 1px solid #ccc;
	margin: 10px 0;
}
.custom-textarea {
    height: 400px;
    color: #A3AED0;
    box-shadow: 14px 27px 45px 4px rgba(112, 144, 176, 0.2);
    overflow-y: scroll;
    resize: none;
    width: 100%;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.rating { font-size: 0; }
.rating span { font-size: 40px; }
.rating span::before { content: "☆"; }
.rating span.active::before {content: "★"; }
.rating span:hover { cursor: pointer; }

.round-button {
  width: 7% !important; /* Reduced from 25% to make it smaller */
  cursor: pointer; /* Change the mouse cursor when hovering over the button */
}

.round-button-circle {
  width: 90% !important;
  height: 0 !important;
  padding-bottom: 50% !important;
  border-radius: 50% !important;
  border: 5px solid #cfdcec !important; /* Reduced border to make it smaller */
  overflow: hidden !important;
  background: #4679BD !important;
  box-shadow: 0 0 3px gray !important;
  transition: background 0.3s; /* Smooth transition for background color change */
}

.round-button-circle:hover {
  background: #30588e !important;
}

.round-button-circle:focus {
  background: #2a4a6e !important; /* Slightly darker color when button is pressed */
  cursor: pointer !important;
}

.round-button a {
  display: block !important;
  width: 100% !important;
  padding-top: 50% !important;
  padding-bottom: 70% !important;
  line-height: 1em !important;
  margin-top: -0.5em !important;
  text-align: center !important;
  color: #e2eaf3 !important;
  font-family: Verdana !important;
  font-size: 0.8em !important; /* Reduced font size to fit the smaller button */
  font-weight: bold !important;
  text-decoration: none !important;
}

.text-container {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

#title {
    margin-bottom: 10px;
}

#text {
    font-size: 18px;
}


.custom-textarea h2 {
	color: #1B2559;
	font-size: 18px;
	position: absolute;
	top: 0;
	left: 0;
	margin: 10px 10px;
}
.logout-button {
    flex-grow: 1;
	margin-bottom: auto;
	padding: 10px 0;
	text-align: center;
    height: auto;
}
.section-title {
	font-size: 18px;
	color: #1B2559;
	margin-bottom: 10px;
}
.small-title {
	font-size: 14px;
}
.footer {
	color: #718096;
	text-align: center;
	padding: 25px 0;
	font-size: 12px;
}
